@page
@model LinkAggregator.Pages.Links.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@{ 
    async Task Template(IList<Comment> comments)
    {
        foreach (var comment in comments)
        {
            <ul>
                <li>
                    @comment.User

                    <div>
                        @comment.Text
                    </div>
                </li>
            </ul>
        }
    }
}

<h1>Details</h1>

<div>
    <h4>Link</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Link.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Link.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Link.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Link.Url)
        </dd>
        <dt class="col-sm-2">
            User Name
        </dt>
        <dd class="col-sm-10">
            @Model.Link.User
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Link.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Model.Link.DateTime
        </dd>

        <dt class="col-sm-2">Score</dt>

        <dd class="col-sm-10">

            @if (User.Identity.IsAuthenticated)
            {
                <form asp-page-handler="Vote" style="display:inline" method="post">
                    <input type="hidden" name="id" value="@Model.Link.Id" />
                    <input type="hidden" name="score" value="1" />
                    <button class="btn @(Model.Link.UserScore(Model.CurrentUserId()) == 1 ? "btn-primary" : "btn-secondary")">U</button>
                </form>
            }

            @Model.Link.Score()

            @if (User.Identity.IsAuthenticated)
            {
                <form asp-page-handler="Vote" style="display:inline" method="post">
                    <input type="hidden" name="id" value="@Model.Link.Id" />
                    <input type="hidden" name="score" value="-1" />
                    <button class="btn @(Model.Link.UserScore(Model.CurrentUserId()) == -1 ? "btn-primary" : "btn-secondary")">D</button>
                </form>
            }

        </dd>
    </dl>
</div>

<div>
    <h1>Comments</h1>

    <form asp-page-handler="AddComment" method="post">

        <div class="form-group">
            <input type="hidden" name="id" value="@Model.Link.Id" />

            <textarea name="text"></textarea>
        </div>

        <button class="btn btn-primary" type="submit">Add Comment</button>
    </form>

    @{ await Template(Model.Link.Comments); }

</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Link.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
